/* Aula 05 - Flexbox e Grid */
/*definições globais e reset basico*/
:root {
    --cor-primaria: #935700;
    --cor-secundaria: #522e02;
    --cor-fundo: #FFECD3;
    --cor-media:#f8d9b1;
    --cor-branca: #ffffff;
    --cor-texto: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/*estilo cabeçalho e navegação*/
header {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  padding: 2rem 2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: fit-content;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

header img {
  position: relative;
  display: block;
  top: 4rem; 
  transform: translateY(-50%);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.header-spacer {
  width: 135px;
}

header h1 {
  margin-bottom: 0.5rem;
}

header nav a {
  color: var(--cor-branca);
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 7px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

header nav a:hover {
  background-color: var(--cor-secundaria);
}

/*conteúdo principal*/
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--cor-branca);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.title {
    color: var(--cor-secundaria);
    text-align: center;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--cor-fundo);
    padding-bottom: 0.5rem;

}

main p {
    color: var(--cor-texto);
    text-align: center;
    margin-bottom: 1.5rem;
}

main img {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
}

main h2 {
    color: var(--cor-secundaria);
    text-align: center;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

main iframe {
  display: block;
  margin: 0 auto;
}

main {
  flex: 1;
}

main h3 {
  margin-top: 1rem;
  text-align: center;
}

main h3 a{
  color: var(--cor-secundaria);
  text-decoration: none;
}

main h3 a:hover {
  color: var(--cor-primaria);
}

/*tabela*/
table {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-collapse: collapse;
  border: 2px solid var(--cor-secundaria);
  border-radius: 10px;
  margin-top: 1.5rem;
}

table caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--cor-secundaria);
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--cor-secundaria);
}

table thead tr {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
}

table tbody tr:nth-of-type(odd) {
  background-color: var(--cor-media);
}

table tbody tr:hover {
  background-color: var(--cor-fundo);
}

/*formulário*/
form {
  margin-top: 1rem;
  text-align: center;
}

form label {
  display: block;
  font-weight: bold;


}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 35%;
  padding: 10px;
  margin-bottom: 0.5rem;
  border: 2px solid var(--cor-secundaria);
  border-radius: 7px;
  font-family: inherit;
  font-size: 1rem;
}

form button {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--cor-primaria);
}

/*promoção*/
.carrossel {
  width: 400px;
  position: relative;
  margin: 0 auto; 
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: auto 1fr auto; 
}

.carrossel img {
  width: 200px; 
  height: auto;
  border-radius: 10px 0 0 10px;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.legenda {
  background: var(--cor-secundaria); 
  color: var(--cor-media);
  padding: 8px;
  font-size: 17px;
  border-radius: 0 10px 10px 0;
  width: 200px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
/*
.fotos-carrossel {
  display: flex; 
  width: 500%;
  animation: slide-animation 15s infinite; 
}

.slide {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
}

.slide img {
  width: 100%; 
  height: auto;
  border-radius: 10px 10px 0 0;
  display: block;
  margin: 0;
  padding: 0;
}
  */

/*
@keyframes slide-animation {
  0% { margin-left: 0; }
  20% { margin-left: 0; } 
  25% { margin-left: -100%; }
  45% { margin-left: -100%; } 
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  90% { margin-left: -300%; }
  95% { margin-left: -400%; }
  100% { margin-left: -400%; } 
}

/*galeria*/

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
  gap: 15px;
}

section img {
  height: 235px;
  width: auto;
  padding: auto;
  margin: auto;
}

/*rodapé*/
footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
  bottom: 0;
}

footer a {
    color: var(--cor-media);
    text-decoration: none;
    align-content: center;
}

/* Media querie*/

/* Breakpoint 1: Desktops menores e tablets (ex: 1024px) */
@media (max-width: 1024px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }

    div, main  {
        padding: 30px 20px;
    }

    nav {
        margin: 0 10px;
    }
}

/* Breakpoint 2: Tablets e Celulares (ex: 768px) */
@media (max-width: 768px) {
    /* 1. Ajuste: Menu horizontal para vertical */
    nav {
        flex-direction: column;
        text-align: left;
        margin: 0; 
        padding: 12px;
    }

    section {
        grid-template-columns: repeat(2, 1fr); /* Alterado para 2 colunas */
    }

    h2 {
        font-size: 1.8rem;
    }
    div, main {
        padding: 20px 15px;
    }
}